In [3]:
''' hello world program variable and input '''
print('Naman','Jain')

Naman Jain

In [4]:
age = 23
print(age)

23

In [5]:
''' taking input from users '''
name  = input('what is your name: ')
print(name)

10

In [12]:
''' type converstion '''
birth_year = int(input('what is your birth year: '))
print('you are: ', 2023 - birth_year)

you are:  22

In [16]:
''' add two numbers '''
first = input('enter first number: ')
second = input('enter second number: ')
num1 = int(first)
num2 = int(second)
print(num1 + num2)

44

In [18]:
''' string '''
name = 'coding ninjas'
print(name)
name = '''coding
        ninja
        is
        a
        good
        place
        for
        coding'''
print(name)

coding ninjas
coding
        ninja
        is
        a
        good
        place
        for
        coding

In [19]:
''' using uppercase '''
name = 'coding ninjas'
print(name.upper())

CODING NINJAS

In [20]:
''' using capatalize '''
name = 'coding ninjas'
print(name.capitalize())

Coding ninjas

In [21]:
name = 'coding ninjas'
print(name[-1])

s

In [22]:
name = 'coding ninjas'
print(name.find('n'))

4

In [23]:
name = 'coding ninjas'
print(name.replace('a','x'))

coding ninjxs

In [24]:
''' slicing '''
name = 'coding ninjas'
print(name[2:5])
print(name)

din
coding ninjas

In [29]:
name = 'coding'
print(name.isalnum())

True

In [31]:
name = 'coding'
print(name.isalpha())

True

In [33]:
name = 'coding'
print(name.isnumeric())

False

In [44]:
''' operators '''
print(10 + 2)
print(10 - 2)
print(10 * 2)
print(10 / 2)
print(10 // 3)
print(10 % 3)
print(10 ** 4)

12
8
20
5.0
3
1
10000

In [46]:
a = 10
a -= 4
print(a)

6

In [47]:
a = 3 > 2
print(a)

True

In [48]:
price = 30
print(price >= 10 and price <= 50)

True

In [49]:
age = 19
if(age >= 19):
    print('eligiable')
else:
    print('Not eligable')

eligiable

In [ ]:
age = 20
if(age >= 20):
    print('eligiable')
elif age >= 18:
    print('paritally eligable')
else:
    print('Not eligable')

In [ ]:
''' while loop '''
# initialization condition updation
while condition:
    body
    updation

In [50]:
cnt = 1
while cnt <= 10:
    print(cnt)
    cnt += 1

1
2
3
4
5
6
7
8
9
10

In [52]:
cnt = 1
while cnt <= 10:
    print(cnt * '*')
    cnt += 1

*
**
***
****
*****
******
*******
********
*********
**********

In [71]:
''' list '''
list = [1,2,3,4,5]
print(list)
list.insert(0,7)
print(list)
list.append(9)
print(list)
list.extend([10,20,30])
print(list)
list.remove(3)
print(list)
list.pop()
print(list)
# list.clear()
# print(list)
print(sum(list))
print(len(list))
print(min(list))
print(sorted(list))

[1, 2, 3, 4, 5]
[7, 1, 2, 3, 4, 5]
[7, 1, 2, 3, 4, 5, 9]
[7, 1, 2, 3, 4, 5, 9, 10, 20, 30]
[7, 1, 2, 4, 5, 9, 10, 20, 30]
[7, 1, 2, 4, 5, 9, 10, 20]
58
8
1
[1, 2, 4, 5, 7, 9, 10, 20]

In [72]:
''' for loops '''
list = [1,2,3,4,5]
for num in list:
    print(num)

1
2
3
4
5

In [73]:
list = [1,2,3,4,5]
idx = 0
while idx < len(list):
    print(list[idx])
    idx += 1

1
2
3
4
5

In [74]:
num = range(0,10)
print(num)

range(0, 10)

In [76]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [77]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [78]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [1]:
''' list in python '''
for i in range(10):
    print(i * '*')

*
**
***
****
*****
******
*******
********
*********

In [4]:
''' sets in python '''
list = [3,4,3,2,1,2,3,7,8,7]
myset = set(list)
print(myset)

{1, 2, 3, 4, 7, 8}

In [5]:
list = [3,4,3,2,1,2,3,7,8,7]
myset = set(list)
for item in myset:
    print(item)

1
2
3
4
7
8

In [6]:
list = [3,4,3,2,1,2,3,7,8,7]
myset = set(list)
myset.add(10)
print(myset)

{1, 2, 3, 4, 7, 8, 10}

In [7]:
list = [3,4,3,2,1,2,3,7,8,7]
myset = set(list)
myset.update({10,20,30})
print(myset)

{1, 2, 3, 4, 7, 8, 10, 20, 30}

In [8]:
list = [3,4,3,2,1,2,3,7,8,7]
myset = set(list)
myset.remove(7)
print(myset)

{1, 2, 3, 4, 8}

In [10]:
list = [3,4,3,2,1,2,3,7,8,7]
myset = set(list)
print(myset)
myset.pop()
print(myset)

{1, 2, 3, 4, 7, 8}
{2, 3, 4, 7, 8}

In [11]:
''' union '''
set1 = ({2,3,4,11})
set2 = ({4,2,19,17})
set3 = set1.union(set2)
print(set3)

{2, 3, 4, 11, 17, 19}

In [12]:
'''' intersection '''
set1 = ({2,3,4,11})
set2 = ({4,2,19,17})
set3 = set1 & set2
print(set3)

{2, 4}

In [13]:
'''' intersection '''
set1 = ({2,3,4,11})
set2 = ({4,2,19,17})
set3 = set1.intersection(set2)
print(set3)

{2, 4}

In [14]:
'''' intersection '''
set1 = ({2,3,4,11})
set2 = ({4,2,19,17})
set3 = set1 - set2
print(set3)

{11, 3}

In [15]:
''' tuple '''
a = (1,2,3,4)
print(type(a))

<class 'tuple'>

In [16]:
list = [1,2,3]
a = tuple(list)
b = (1,2,3, [4,5,6])
print(len(b))

4

In [17]:
list = [1,1,2,1,2,1,3,2,3]
a = tuple(list)
print(a.index(3))

6

In [18]:
list = [1,1,2,1,2,1,3,2,3]
a = tuple(list)
print(4 in a)
print(3 in a)

False
True

In [23]:
''' dictionary '''
dictionary = {'name':'Naman', 'age':23, 3:'three'}
print(dictionary)
print(dictionary.get(3))
print(dictionary.values())
print(dictionary.keys())
print(dictionary.pop(3))

{'name': 'Naman', 'age': 23, 3: 'three'}
three
dict_values(['Naman', 23, 'three'])
dict_keys(['name', 'age', 3])
three

In [25]:
dictionary = {'name':'Naman', 'age':23, 3:'three'}
for item in dictionary.keys():
    print(item)
dictionary.clear()
print(dictionary)

name
age
3
{}